@use "sass:map";

body {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
  transition: 1s;
  @include themify($themes) {
    color: themed('colorMainBlack');  
    background-color: themed('colorMainWhite');  
  }
}

.container {
  margin: 30px 50px;
}
