@use "sass:map";

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: map.get($colors, "colorBackgroundModalWindow");
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-wrapper-active {
  top: -100%;
  transition: all 0.8s ease 0s;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.modal-window {
  padding: 15px;
  background-color: map.get($colors, "colorMainWhite");
  border-radius: 10px;
  border: 1.5px solid map.get($colors, "colorMainBlack");
  box-shadow: 0 0 10px map.get($colors, "colorMainBlack");

  &__title {
    text-align: center;
    font-size: rem(20px);
  }

  &__element {
    margin: 10px 0;
    cursor: pointer;

    &:focus,
    &:hover {
      color: map.get($colors, "colorLightRed");
      font-weight: bold;
    }

    &:active {
      color: map.get($colors, "colorMainRed");
    }
  }

  &__form {
    display: grid;
  }

  &__form > label {
    margin: 10px 0;
    cursor: pointer;
  }

  &__form > label > input {
    margin-right: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    margin-left: 150px;
  }

  &__button {
    padding: 5px 15px;
    margin: 0 5px;
    border: 1px solid map.get($colors, "colorMainWhite");
    border-radius: 50px;
    font-weight: 600;
    color: #444;
    background-color: map.get($colors, "colorMainWhite");
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
  }

  &__button-active {
    background-color: map.get($colors, "colorLightRed");
    color: map.get($colors, "colorMainWhite");
    border: 1px solid map.get($colors, "colorLightRed");
  }

  &__loading {
    border: 5px solid map.get($colors, "colorLightGray");
    border-top: 5px solid map.get($colors, "colorLightRed");
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}