.grid {
  // margin: 0 auto;
  // height: auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &-sizer,
  &-item {
    width: 20%;
  }

  &-item {
    margin-bottom: 5px;
  }
}
